<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <br>
    <br>

    <h3>Phone Number</h3>

    <p>+34 646429876</p>

    <h3 >Email</h3>

    <p>rafarod8@gmail.com  <a href="mailto:rafarod8@gmail.com?subject=PortfolioContact" "email me" style="color:grey ">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194348.13981734897!2d-3.8196226462531633!3d40.43786975711595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422997800a3c81%3A0xc436dec1618c2269!2sMadrid!5e0!3m2!1ses!2ses!4v1532691190678" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
